psutil
sentencepiece
numpy < 2.0.0
requests
tqdm
py-cpuinfo
transformers == 4.45.2 # needed for llama
tokenizers >= 0.19.1
fastapi
aiohttp
openai
uvicorn[standard]
pydantic >= 2.0
pillow
prometheus_client >= 0.18.0
prometheus-fastapi-instrumentator >= 7.0.0
tiktoken >= 0.6.0
lm-format-enforcer >= 0.10.9, < 0.11
outlines >= 0.0.43, < 0.1
typing_extensions >= 4.10
filelock >= 3.10.4
pyzmq
scipy # for quip
rich
loguru
hf_transfer # for faster downloads
librosa  # Required for audio processing
soundfile  # Required for audio processing
gguf == 0.9.1
importlib_metadata
mistral_common >= 1.5.0
protobuf
pandas
msgspec
python-multipart
