# Common dependencies
-r requirements-common.txt

# Dependencies for NVIDIA GPUs
nvidia-ml-py == 12.555.43
torch == 2.4.0; platform_system == 'Linux'
torchvision == 0.19; platform_system == 'Linux'  # for phi3v
xformers == 0.0.27.post2; platform_system == 'Linux' and platform_machine == 'x86_64' # Requires PyTorch 2.4.0
triton >= 2.2.1; platform_system == 'Linux'

# Windows dependencies
winloop; platform_system == 'Windows'
tornado; platform_system == 'Windows'
