ninja
psutil
ray >= 2.5.1
sentencepiece
numpy
torch >= 2.0.0
transformers >= 4.31.0
uvicorn
openai # for fastapi's openai proxy emulation
xformers >= 0.0.19
mypy
pytest
git+https://github.com/lm-sys/fastchat@main
pydantic < 2
