ninja
psutil
ray >= 2.5.1
sentencepiece
numpy
torch==2.0.1+cu118
transformers >= 4.33.3
uvicorn
openai # for fastapi's openai proxy emulation
xformers >= 0.0.22
mypy
pytest
fschat >= 0.2.23
pydantic < 2
pyarrow # needed for ray
pandas
fastapi